<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css"/>
</head>
<body>

    <label>
        <div class="u-text-center img photo">
            <img class="img photo img-bg">
            <input type="file" name="photo" class="image-user" accept="image/x-png,image/jpeg,image/jpg,image/png" multiple>

            <div class="update">
                <img class="dz-icon" src="../assets/img/cloud-storage-download.svg" alt="face">
                <span>можете сдесь добавить фото</span>
            </div>
        </div>

    </label>


    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="../assets/js/script.js"></script>


</body>
</html>